/* Inter Font */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Raleway font */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


/* Style for header section */
.header{
    height: 658px;            
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}

.logo-font{
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}

nav ul li {
    list-style: none;
}

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;  
    transition: all 0.3s ease;  
}

.btn-primary:hover {
    background-color: #EFC30F;   
    color: black;               
    transform: scale(1.05);     
}

.banner-content{
    color: #252432;
    font-weight: bold;
    font-size: 65px;
    margin: 0;
}

.banner{
    text-align: center;
    margin: 158px 267.5px 152px ;
}

.banner button {
  margin-top: 37px;
}


/* style for main section: first div */
.launch{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 116px 159px 116px 159px;
}

.launch-content{
    max-width: 517px;
    

}

.launch-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;

}

.launch-description{
    font-weight: 400;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);;
}

.rounded-img{
    border-radius: 48px;
}

/* Style for main section: second  div */
.productive{
    margin: 116px 159px 0px 159px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 20px;

}

.productive-title{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    text-align: center;
    padding: 50px 142px 0px 142px;
    word-spacing: 10px;
}

.productive-data{
    display: flex;
    justify-content: space-between;
    margin: 40px 250px 50px 250px;
}

.data{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    text-align: center;
    margin: 0;
}

.data-info{
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0px 0px 50px 0px;
}

/* style for main section: third div */
.text-center{
    text-align: center;
}

.review{
    margin: 137px 159px 0px 190px;
}

.review-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;   
}

.review-container{
    display: flex;
    gap: 50px;
    margin-top: 50px;

}

.riv-content{
    margin: 24px;
}

.icon{
    margin: 24px 226.67px 24px 24px;

}

.review-box1{
    background-color: #F5F8FF;
    height: 243px;
    width: 366px;
    margin: 50px 20px 0px 0px;
    border-radius: 10px;
}

.review-box2{
    background-color: #F5F8FF;
    height: 243px;
    width: 366px;
    margin: 50px 20px 0px 20px;
    border-radius: 10px;
}

.review-box3{
    background-color: #F5F8FF;
    height: 243px;
    width: 366px;
    margin: 50px 0px 0px 20px;
    border-radius: 10px;
}

.avatar{
    display: flex;
}

.avatar-image{
    width: 40px;         
    height: 40px;        
    border-radius: 50%;   
    object-fit: cover;   
    margin: 10px 6px 30px 24px;
}

.avatar-text{
    margin: 10px 24px 24px 12px;
}

.avatar-text h4,
.avatar-text p {
  margin: 0;
}

.avatar-text h4 {
    color: #757575;
}
.avatar-text p{
    color: #B3B3B3;
}


/* style for main section: 4th div */
.form{
    display: flex;
    /* background-color:#F5F8FF ; */
    margin: 92.23px 150px 0px 150px ;
    align-items: center;
    /* height: 632px;
    width: 1140px; */
}

.form-title{
    font-weight: bold;
    font-size: 97px;
    margin: 200px 260px 200px 50px;
}

.form form{
    display: flex;
    flex-direction: column;
    width: 497px; 
    height: 490px;
    margin: 71px 0px;
}


.form label {
  font-weight: bold;
  margin-bottom: 8px;
}

.form input, .form textarea {
  padding: 18px 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 30px;
  font-size: 16px;
  outline: none;
}

.form textarea {
  resize: none; 
}

.form form button {
    padding: 19px 201px; 
}

/* Style for footer */
.footer-content{
    padding: 104px 455px 104px 455px;
}

.footer-content h1{
    font-size: 100px;

}

.footer-content p{
    color: #8987A1;
}

.footer-content h1, .footer-content p {
  margin: 0;
}

footer{
    background-color: #F5F8FF;
    margin: 50px 0px 0px 0px;
    /* width: 1440px; */
    height: 428px;
    background-size: cover;
}

footer div nav ul li{
    list-style: none;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 20px;
}

footer div nav ul li a{
    text-decoration: none;
    color: #8987A1;
}

footer div nav ul{
    display: flex;
    margin: 20px 0px 0px 0px;
}

footer div nav ul li a:hover {
  background-color: #dcdcdc; 
}