/* Inter Font */
.inter-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Raleway font */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.header{
    height: 658px;            
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}

.logo-font{
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}

nav ul li {
    list-style: none;
}

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}

.banner-content{
    color: #252432;
    font-weight: bold;
    font-size: 65px;
    margin: 0;
}

.banner{
    text-align: center;
    margin: 158px 267.5px 152px ;
}

.banner button {
  margin-top: 37px;
}

.launch{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 116px 159px 116px 159px;
}

.launch-content{
    max-width: 517px;
    

}

.launch-title{
    font-weight: bold;
    font-size: 42;
    color: #252432;

}

.launch-description{
    font-weight: 400;
    font-size: 24;
    color: rgba(37, 36, 50, 0.5);;
}

.rounded-img{
    border-radius: 48px;
}